<!DOCTYPE html>
<html lang="en">

<!-- this is the head of the document containing metadata-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick's Music Database</title>
	<link rel="shortcut icon" href="./images/music_gif.gif" type="image/x-icon">
    <link rel="stylesheet" href="css/Index.css">
	<script src="https://app.simplefileupload.com/buckets/237b447cb8cf3cd84d5e9559ffa77d06.js"></script>
</head>

<!-- this is the body of the document containing the page contents -->
<body>
	<!-- this is the title header -->
    <header> 
		<h1 id="page_title">Rick's Music Player & Database </h1>
		<h4 id="subtitle"> Music Data Repository </h4>
	</header>
	
	<!-- this is the nav bar of the document containing hyperlinks-->
	<nav>
		<!-- link to index.html -->
		<p id="home_link"><a href="/home">Home Page</p></a>
	</nav>
	
	<br>
	<hr>
	
	<!-- this is the article container that hold the diffrent sections of the webpage -->
	<article>
		<!-- this is the gif section of the article -->
		<section id="gif_container">
			<img src="./images/music_gif.gif" id="music_gif" alt="" srcset="">
		</section>

		<!-- this is the music player section of the article -->
		<section id="player_container"> 
			<p id="caption"> Upload an audio file and play your favorite music!  </p>

			<!--This is an audio player for the mp3 files-->
              <% if (player!="") { %>
				<%source%>

			<audio controls id="audio_player" >
                  <source id="source" src="<%= source %>">
			</audio>
			  <%} else {%>
				<audio controls id="audio_player" >
					<source id="source" src="">
			  </audio>
			  <%}%>
			<br>

			<!-- This is a file uploader for MP3s -->
			<form action="/insert_table" method="POST" enctype="multipart/form-data">
			    <!-- <input type="file" id="file_input" accept="audio/*" required name="mp3_file"/>  -->
				<input type="hidden" name="avatar_url" id="avatar_url" class="simple-file-upload">
				<br>
                <input class ="upload" type="submit" value="Upload">
			</form>
			<br>

			<!-- field for adding database info  -->
			<form action="/insert_table?" method="get">
			<input type="text" name="song" id="song" width="100px" required placeholder="Song title">
			<input type="text" name="album" id="album" width="100px" required placeholder="Album Name">
			<input type="text" name="artist_name" id="artist_name" width="100px" required placeholder="Artist Name">
			<input type="text" name="uploader_name" id="uploader_name" width="100px" required placeholder="Uploader Name">
			<input type="text" name="mp3_text" id="mp3_text" width="100px" required placeholder="MP3">
			<button id="submit_info" onclick="location.href='/insert_table?'">Submit Info</button>
            </form>
			<br>
		</section>

		<!-- section for database table display -->
		<section id="table_container">
            <h3 id="music_table_title"><%= title %></h3>
            <% if (action == 'add') { %>
                <% } else { %>
			<table id="music_table">
				<thead>
					<th>ID</th>
					<th>Song Name</th>
					<th>Album Name</th>
                    <th>Artist name</th>
					<th>Uploader Name</th>
                    <th>MP3 file</th>
                    <th>Select</th>
                    <th>Delete</th>
                    <th>Update</th>
                </thead>
				<tbody>
                        <% if(index.length > 0)
                        {
                            index.forEach(function(data) {
                            %>
							<% index.source %>
                                <tr>
                                    <td><%= data.id %></td>
                                    <td><%= data.song %></td>
                                    <td><%= data.album %></td>
                                    <td><%= data.artist %></td>
                                    <td><%= data.uploader %></td>
                                    <td><%= data.mp3 %></td>
                                    <td><button id = 'selectRow' class="select" onclick="location.href='/select_row?id=' + '<%= data.id%>' + '&mp3=' +'<%= data.mp3 %>' + '&source=' + '/audio/' +'<%=data.mp3%>'">Select</button></td>
                                    <td><button id = 'deleteRow' class="delete" onclick="location.href='/drop_row?id=' + '<%= data.id%>' + '&mp3=' + '<%= data.mp3%>'">Delete</button></td>
                                    <td><button class="update" onclick="location.href='/update_row?id=' + '<%data.id%>'">Update</button></td>
                                </tr>
                        <%
                            });
                        } 
                        else 
                        { 
                        %> 
                     <tr>
                        <td colspan="9">No Data Found</td>
                     </tr>
                     <%
                    }
                    %>
				</tbody>
			</table>
            <% } %>
		</section>
	</article>

	<br>
	<hr>
	<br>

	<!-- this is the footer of the document containing contact information -->
	<footer>
		<p id="info"> 
			Email: rdymond@oakland.edu 
			<br>
			<br>
			Class: CSI-3450 Database Design & Implementation
			<br>
			<br>
			Professor: mollah@oakland.edu
		</p>
	</footer>

	<!-- js for page -->
	<script src="./js/home.js"></script>

</body>

</html>